<!doctype html>

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>
<div th:replace="snippets.html :: name_status_popup"></div>

<div class="container">
 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
		 <h4 style="margin-top:10px">
		You have been logged out successfully.
		Login again
		 </h4>
		 <a class="btn btn-dark" th:href="@{/site/login}" style="margin-top:5px;">Login</a>
	 </div>	
</div> 

</div> <!-- Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
